<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="js/lib/angular-1.5.7.min.js"></script>
        <script src="js/controllers/myController.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="myController">
            {{message}}
        </div>
    </body>
</html>