<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- AngularJS -->
    <script src="js/lib/angular-1.5.7.min.js"></script>

    <!-- App -->
    <script src="js/controllers/movieController.js"></script>
    <script src="js/services/movie.js"></script>
    <script src="js/directives/movieCard.js"></script>
    <script src="js/directives/movieDetails.js"></script>
    <script src="js/app.js"></script>
</head>
<!-- App definition -->

<body ng-app="movieApp" class="grey lighten-5">
    <!-- Controller definition -->
    <div ng-controller="movieController" class="container">
        <ul style="columns: 4" ng-show="showAll">
            <li ng-repeat="film in films" style="-webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;">
                <movie-card film="film" ng-click="showOne(film)"></movie-card>
            </li>
        </ul>
        <div ng-show="!showAll">
            <button ng-click="showAll = true">back</button>
            <movie-details film="selectedFilm"></movie-details>
        </div>
    </div>
</body>

</html>
